.site-footer {
	background: $azul;
	margin: 0;
}

.contenedor-footer {
	padding: 3rem 0;
	text-align: center;
}

@media (min-width: $desktop) {
	.contenedor-footer{
		display: flex;
		justify-content: space-between;
	}
}

.site-footer nav {
	display: none;
}

@media (min-width: $desktop) {
	.site-footer nav{
		display: block;
	}
}

.copyright {
	color: $blanco;
}