/*  HEADER  */
.site-header {
	background: $azul;
	padding: 0rem 0 0rem 0;
}

.site-header.inicio {
	background-image: url(../assets/img/header.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.contenido-header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;

	h1 {
		color: $blanco;
		padding-bottom: 2rem;
		max-width: 60rem;
		line-height: 2;
	}
}

@media (min-width: $desktop) {
	.contenido-header {
		text-align: left;
	}
}

.barra {
	padding-top: 0rem;
}

@media (min-width: $desktop) {
	.barra {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navegacion {
	a {
		color: $blanco;
		text-decoration: none;
		font-size: 2.2rem;
		display: block;
		margin: 1rem 0;

		&:hover {
			color: $lila;
			transition: color .2s ease-in-out;
		}
	}
}

@media (min-width: $desktop) {
	.navegacion {
		a {
			display: inline-block;
			margin-right: 2rem;
			font-size: 1.8rem;

			&:last-of-type {
				margin: 0.2rem;
			}
			
		}
	}
}
