@media (min-width: $desktop) {
	.contenedor-servicios {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.servicios {
	border: 1px solid lighten($plomo, 6);
	background: lighten($gris, 3);
	margin-bottom: 2rem;
}

@media (min-width: $desktop) {
	.servicios {
		flex: 0 0 calc(33.3% - 3rem);
	}
}

.contenido-servicios {
	padding: 2rem;
}

.contenido-servicios h3,
.contenido-servicios p {
	margin: 0;
}

.precio {
	color: $rosa;
	font-weight: 700;
}