.testimonial {
	background: $celeste;
	font-size: 2.4rem;
	padding: 1rem;
	color: $blanco;
	border-radius: 3rem;
	margin: 0.2rem;
	display: flex;
	flex-direction: column;
}

.testimonial blockquote {
	position: relative;
	padding-left: 5rem;
}

.testimonial p {
	text-align: right;
	text-transform: capitalize;
	margin-top: auto;
}

.testimonial blockquote::before {
	content: "";
	background: url(../assets/img/comilla.svg);
	width: 4rem;
	height: 4rem;
	position: absolute;
	left: -0.5rem;
}

.hide-xs{
	display: none;
}

@media (min-width: $desktop) {
	.hide-xl{
		display: none
	}
	.hide-xs{
		display: flex;
	}
}