.seccion {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fs-2 {
	font-size: 2rem;
}

.fs-4 {
	font-size: 4rem;
}


.fw-300 {
	font-weight: 300;
}

.fw-450 {
	font-weight: 450;
}

.centrar-texto {
	text-align: center;
}

.contenido-centrado {
	max-width: 800px;
}

.reset {
    all: revert;
}