// Colores
$celeste: #548CA8;
$azul: #314467;
$lila: #7167A1;
$morado: #6C5B7B;
$rosa: #C06C84;
$plomo: #636363;
$gris: #e1e1e1;
$blanco: #ffffff;

// Media Queries
$telefono: 300px;
$desktop: 900px;
